.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.options {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.option {
  height: 100px;
  width: 300px;
  background-color: beige;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}
